.movieDetails {
  display: flex;
}

.movieDetailsBox {
  text-align: center;
}

.detailsLeftSide {
  width: 70%;
  text-align: justify;

}
.detailsRightSide {
  margin: 0 auto;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}

.movieLinks {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
}