table {
  width: 100%;
  border: 1px solid grey;
  text-align: left;
}

th {
  width: 33%;
  text-align: center;
}

#searchBox {
  width: 100%;
  padding-top: 75px;
}

.searchField {
  width: 250px;
}

#searchButton {
  vertical-align: bottom;
  margin-left: 20px;
}